@model ErrorViewModel

<div class="hero">
    <h1 style="color: red; text-align: center" >Oops, Something went wrong</h1>
    <h1 style="color: red; text-align: center">@Model.Message</h1>
</div>
<div class="fullwidth-block" data-bg-color="#262936">
    <div class="container">

    </div>				
</div>

