@using IdentityServerService.Models
@model RegisterBindingModel

<div class="col-md-6">
    <h1>Registration Page</h1>
    <form asp-controller="Account" asp-action="Register" method="post">
        <div class="row">
            <p>
                <label asp-for="UserName"></label>
                <input asp-for="UserName" placeholder="Username"/>
            </p>
        </div>    
        <div class="row">
            <p>
                <label asp-for="Name"></label>
                <input asp-for="Name" placeholder="Name"/>
            </p>
        </div>    
        <div class="row">
            <p>
                <label asp-for="LastName"></label>
                <input asp-for="LastName" placeholder="Last Name"/>
            </p>
        </div>    
        <div class="row">
            <p>
                <label asp-for="Email"></label>
                <input asp-for="Email" placeholder="Email"/>
            </p>
        </div>    
        <div class="row">
            <p>
                <label asp-for="Password"></label>
                <input asp-for="Password" placeholder="Password"/>
            </p>
        </div>    
        <div class="row">
            <p>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" placeholder="Confirm Password"/>
            </p>
        </div>  
        <div class="row">
            <p>
                <input type="hidden" asp-for="ReturnUrl">
                <button class="btn" asp-route="Register">Register</button>
            </p>
        </div>
    </form>
</div>


